#root {
    background-color: #ffeedf;
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;
}

    button {
        background-color: #1c5a4e;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        font-size: 200px;
        color: #ffeedf;
        font-weight: light;
        line-height: 0;
        font-family: 'Montserrat', sans-serif;
        border: 0px;
    }
