a {
    display: inline-block;
    font-size: 60px;
    width: 400px;
    height: 200px;
    background-color: #ffeedf;
    padding: 10px;
    margin: 20px;
    border: 20px solid black;
    border-radius: 100px;
}

.button {
    background-color: #1c5a4e;
    size: 240px 240px;
    border-radius: 50%;
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
}