* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

#root {
    background-color: #ffeedf;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

    button {
        background-color: #1c5a4e;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        font-size: 200px;
        color: #ffeedf;
        font-weight: light;
        line-height: 0;
        font-family: 'Montserrat', sans-serif;
        border: 0px;
        padding-bottom: 20px;
    }
